*{
    font-family: 'Outfit', sans-serif;
    color: white;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
body{
    background: black;
}

.navigation ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation ul li{
    padding: 15px;
}
ul li {
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
}
li a:hover{
    background-color: yellow;
    border-radius: 15px;
    transition: 0.5s;
    color: black;
}
li a.active{
    border-bottom: 3px solid white;
}

li a:hover{
    border-color: transparent;
}
.logo{
    margin: 20px;
    padding-left: 20px;
}
.text{
    font-size: 36px;
    font-weight: 700;
    margin: 20px;
    padding: 20px;
}
.flop{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    position: relative;
}
.recipe{
    left: 35%;
    top: 20%;
    position: absolute;
}
.recipe p{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}
.recipe1{
    background: url(main-vector.png);
    background-repeat: no-repeat;
    background-size: 18px;
    background-color: black;
    border: 1px solid yellow;
    padding: 20px 20px 20px 10px;
    width: 70%;
    border-radius: 20px;
    background-position-x: 130px;
    background-position-y: 20px;
    text-align: left;
    font-weight: 600;
}
.recipe1:hover{
    background-color: yellow;
    color: black;
    transition: 0.7s;
    background-blend-mode: difference;
}
.home13{
    display: flex;
    margin-bottom: 20px;
}
.home13 p{
    margin-top: 50px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 20px;
}
.home8{
    border-radius: 25px;
}
.recipe{
    font-size: 30px;
    font-weight: 700;
    margin: 20px;
    padding: 20px;
}
.start{
    font-weight: 400;
    font-size: 15px;
    margin: 20px;
    padding: 20px;
}
.attempt{
    margin: 20px 10px;
    padding: 20px;
}
.image1{
    border-radius: 35px;
}
.interval{
    background-color: #ffed00;
    top: 16%;
    margin-left: 50px;
    border: none;
    border-radius: 20px;
    z-index: 1;
    width: 10%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}
.interval1{
    background-color: #ffed00;
    top: 42%;
    margin-left: 50px;
    border: none;
    border-radius: 20px;
    z-index: 1;
    width: 10%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}
.interval2{
    background-color: #ffed00;
    top: 67%;
    margin-left: 50px;
    border: none;
    border-radius: 20px;
    z-index: 1;
    width: 10%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}
.interval3{
    background-color: #ffed00;
    top: 92%;
    margin-left: 50px;
    border: none;
    border-radius: 20px;
    z-index: 1;
    width: 10%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}
.main{
    position: relative;
}
.interval1 p{
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-left: -10px;
}
.interval2 p{
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-left: -10px;
}
.interval3 p{
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-left: -10px;
}
.interval p{
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin-left: -10px;
}
.button1{
    margin: 20px 50px;
    width: 65%;
    padding: 20px;
    background-color: transparent;
    background-image: url(main-vector.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-x: 145px;
    background-position-y: 21px;
    border: 1px solid #ffed00;
    border-radius: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}
.button1:hover{
    background-color: yellow;
    color: black;
    transition: 0.7s;
    background-blend-mode: difference;
}
.flop1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.space{
    margin-bottom: -40px;
}
/*.main{
    margin-top: -130px;
}*/
.buy{
    font-size: 18px;
    font-weight: 700;
    color: yellow;
}
.contact{
    margin: 20px;
    padding: 20px;
}
.lorem{
    font-size: 13px;
    font-weight: 400;
}
.input-box{
    margin: 20px;
    padding: 20px;
    position: relative;
}
.image1{
    float: right;
    margin-right: 20px;
    padding-left: 20px;
}
#image1{
    border-radius: 50px;
}
.input input{
    width: 30%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 1px solid yellow;
    background-color: black;
    line-height: 40px;
}
.input input:focus{
    border: 2px solid yellow;
    outline: none;
}

::placeholder{
    text-align: left;
    padding: 5px 15px;
    color: white;
    line-height: 20px;
}
#input{
    height: 120px;
}
.saveur{
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.saveur p{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
}

@media only screen and (min-width:320px)and (max-width:900px){
    img{
        max-width: 100%;
        height: auto;}
    .hide-on-small{
            display: none;}
    }