header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
*{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
body{
    background: black;
    overflow: visible;
}

.navigation ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navigation ul li{
    padding: 15px;
}
ul li {
    list-style: none;
}
li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
}
li a:hover{
    background-color: yellow;
    border-radius: 15px;
    transition: 0.5s;
    color: black;
 
}

li a.active{
    border-bottom: 3px solid white;
}
li a:hover{
    border-color: transparent;
}
.logo{
    margin: 20px;
    padding-left: 20px;
}
.free-work{
    font-size: 25px;
    font-weight: 600;
    margin: 20px;
    padding: 20px;
    clear: both;

}
.flop-conservior{
    display: flex;
    padding: 20px;
    margin: 20px;
    position: relative;
}
.ironlady{
    margin: 20px;
    width: 200px;
    opacity: 0.3;
}
.flop-conservior p{
    writing-mode: vertical-lr;
    rotate: -180deg;
    z-index: 1;
    position: absolute;
    font-size: 20px;
    font-weight: 600;

}
.Beginnerfriendly{
    left: 100px;
    bottom: 40vh;
}
.moderate{
    bottom: 30vh;
    left: 27%;
}
.weightloss{
    bottom: 30vh;
    left: 47%;
}
.Equipment{
    bottom: 30vh;
    right: 27%;
}
.training{
    bottom: 30vh;
    right: 100px;
}
.button{
    padding: 20px;
    width: 80%;
    border: 1px solid yellow;
    background-color: black;
    margin-left: 25px;
    border-radius: 25px;
    font-weight: 700;
}
.button:hover{
    background: yellow;
    color: black;
    transition: 0.7s;
}
.looking{
    font-size: 13px;
    font-weight: 400;
}
.people{
    padding: 15px;
    border: 1px solid yellow;
    border-radius: 15px;
    width: 15%;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    background: transparent;
}
.people:hover{
    background-color: #ffed00;
    color: black;
}
h3{
    font-size: 29px;
}
.Beginnerfriendly{
    margin: 20px;
    padding: 20px;
}
.workout{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    position: relative;
}
.workoutsect{
    border-radius: 75px;
    padding-left: 30px;
    padding-right: 20px;
    position: relative;
}
.flop{
    display: flex;
    background: #4A4A4A;
    height: 80px;
    width: 230px;
    border-radius: 15px;
    position: relative;
    top: -20vh;
    left: 21%;
}
.workoutsect1{
    position: absolute;
    left: 5%;
    top: 15%;
    padding-top: 5px;
    padding-left: 5px;
}
.workoutsect2{
    position: absolute;
    left: 48%;
    top: 18%;
    padding-top: 5px;
    padding-left: 5px;
}
.days{
    position: absolute;
    left: 14%;
    top: 1%;
    font-size: 12px;
    font-weight: 400;
    color: black;
    padding-top: 5px;
    padding-left: 5px;
}
.mins{
    position: absolute;
    left: 57%;
    top: 1%;
    font-size: 12px;
    font-weight: 400;
    color: black;
    padding-top: 5px;
    padding-left: 5px;
}
.multiple{
    background: yellow;
    border-radius: 10px;
    width: 28%;
    height: 13px;
    margin: 10px;
    padding: 10px;
    align-items: center;
}
.flop1{
    background: yellow;
    border-radius: 10px;
    width: 42%;
    height: 13px;
    margin: 10px;
    padding: 10px;
    align-items: center; 
}
.Abschallenge{
    position: absolute;
    top: 35px;
    left: 15px;
    font-size: 15px;
    font-weight: 400;
}
.Jadoft {
    width: 400px; /* Adjust this to your jadoft width */
    overflow: hidden;
    position: relative;
    margin: 0 auto; /* Centers the jadoft */
  }
  
  .tone {
    width: 100%;
    display: inline-block;
    position: absolute;
    transition: transform 0.5s ease-in-out;
  }
  
  /* Adjust positioning for each tone */
  .tone:nth-child(1) { left: 0; }
  .tone:nth-child(2) { left: 100%; }
  
  /* Animation to tone the images */
  .Jadoft:hover .tone {
    transform: translateX(-100%);
  }
  .input-box{
    margin: 20px;
    padding: 20px;
    position: relative;
}
.image1{
    float: right;
    margin-right: 20px;
    padding-left: 20px;
}
#image1{
    border-radius: 50px;
}
.input input{
    width: 30%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 1px solid yellow;
    background-color: black;
    line-height: 40px;
    padding-left: 30px;
}
.input input:focus{
    border: 2px solid yellow;
    outline: none;
}

::placeholder{
    text-align: left;
    color: white;
    line-height: 20px;
}
#input{
    height: 120px;

}
.saveur{
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.saveur p{
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
}
.ContactUs{
    margin: 20px;
    padding: 20px;
}
.lorem{
    font-size: 13px;
    font-weight: 400;
}
.buy{
    font-size: 18px;
    font-weight: 700;
    color: yellow;
}
button a{
    text-decoration: none;

}


  @media only screen and (min-width:320px)and (max-width:900px){
    img{
        max-width: 100%;
        height: auto;}
    .hide-on-small{
            display: none;}
     h3{
          font-size: 29px;
            }
    
  }

